.react-datetime-picker{
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
 
}

.datetimePicker {
   border-radius: 3px;
   background-color: #D4d8d885;
   margin-right: -6px;
}

#mainpage-language div:first-child span::before {
  content: "繁體中文";
}

.col-sm-12 {
  padding: 0;
  margin: 0;
}

.col-sm-12 > form {
  background-color: white;
  padding: 0;
  margin: 0;
}

.col-sm-12 > form .shiny-options-group .radio {
  display: inline-block;
  padding-right: 20px;
}

#modify_time > .shiny-input-container {
  width: 100px;
  margin-bottom: 0px;
}

#modify_time {
  display: flex;
  height: 35px;
  width: 310px;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #b0b6bc;
}

.form-control {
  font-size: 14px;
}

#modify_time > .shiny-input-container > .control-label {
  display: none;
}

#modify_time > .btn {
  padding: 5px 10px;
  border-width: 0px;
  color: #2c3e50;
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  opacity: 1;
}

#modify_time > div > div > div > div.selectize-input {
  
  border: 0px;
  
}

#single_chart-chart > img {
  
  width: 100%;
  height: auto;
  
}